.product-detail {
  padding: 20px;
}

.detail-page {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.image-container {
  flex: 1;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.global-img img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.description-container {
  flex: 1;
  max-width: 600px;
}

.description-container h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.description-container h3 {
  font-size: 1.2em;
  margin: 10px 0;
}

.description-container h2 {
  font-size: 1.5em;
  margin: 10px 0;
  color: #e74c3c;
}

.description-container del {
  color: #7f8c8d;
}

.rating ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.rating ul i {
  color: #f1c40f;
  margin-right: 5px;
}

.btn-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.btn-container button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-container button span {
  font-weight: bold;
}

.btn-container button:first-child {
  background-color: #3498db;
  color: #fff;
}

.btn-container button:first-child:hover {
  background-color: #2980b9;
}

.btn-container button:last-child {
  background-color: #e74c3c;
  color: #fff;
}

.btn-container button:last-child:hover {
  background-color: #c0392b;
}

.icons-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.icons-container a {
  color: #333;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.icons-container a:hover {
  color: #3498db;
}



/* ggggg */


.suggestions {
  margin-top: 20px;
}

.suggestions-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.suggestion-item {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.suggestion-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.suggestion-item h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.suggestion-item p {
  font-size: 1rem;
  color: #333;
}


.related-products-list{
  display: flex;
  justify-content: space-between;
  align-items: center;

  
}
.related-products{
  text-align: center;
  
}
.related-products h2{
  font-size: 40px;
  font-weight: 700;
 
}
/* prodect Qt */
.product-detail .description-container .quantity {
  font-size: 1.2rem;
  color: #333;
  margin: 0.5rem 0;
}
