.news-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 20px;
    margin: 20px 60px 50px 60px;
    padding: 0px 30px 50px 50px;
    background-color: #f0f8ff;
}

.news-img {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    width: 50%;
}

.news-img img {
    width: 80%;
    max-width: 100%;
}

.news-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    width: 50%;
}

.news-description h1 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}

.news-description h1 span {
    color: blue;
}

.news-description p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
    color: rgba(0, 0, 0, 0.703);
    line-height: 1.5;
}

.news-description button {
    color: white;
    font-weight: 500;
    background-color: blue;
    box-shadow: 0 0 5px 0 #0005;
    padding: 10px 20px;
    border-radius: 10px;
    border: 0ch;
    margin-top: 40px;
    border: 2px solid blue;
    transition: 0.4s;
}

.news-description button:hover {
    border: 2px solid blue;
    background-color: white;
    color: black;
}

.news-description a {
    text-decoration: none;
    color: black;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .news-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 20px;
        padding: 20px;
    }

    .news-img {
        width: 80%;
    }

    .news-description {
        padding-left: 0;
        width: 100%;
    }

    .news-description h1 {
        font-size: 40px;
    }

    .news-description p {
        font-size: 18px;
    }

    .news-description button {
        width: 140px;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .news-section {
        margin: 10px;
        padding: 10px;
    }

    .news-img {
        padding-top: 20px;
    }

    .news-description h1 {
        font-size: 30px;
    }

    .news-description p {
        font-size: 16px;
    }

    .news-description button {
        width: 120px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .news-section {
        margin: 5px;
        padding: 5px;
    }

    .news-description h1 {
        font-size: 24px;
    }

    .news-description p {
        font-size: 14px;
    }

    .news-description button {
        width: 100px;
        font-size: 12px;
    }
}
